name: Build Heaps Android POC

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Install Java 17
      - name: Install JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Download Android Cmdline Tools (latest)
      - name: Install Android cmdline-tools
        run: |
          mkdir -p $HOME/android-sdk/cmdline-tools
          cd $HOME/android-sdk/cmdline-tools

          wget https://dl.google.com/android/repository/commandlinetools-linux-12266719_latest.zip
          unzip commandlinetools-linux-*.zip -d temp

          # Google requires folder name "latest"
          mv temp/cmdline-tools latest

          echo "ANDROID_HOME=$HOME/android-sdk" >> $GITHUB_ENV
          echo "ANDROID_SDK_ROOT=$HOME/android-sdk" >> $GITHUB_ENV
          echo "$HOME/android-sdk/cmdline-tools/latest/bin" >> $GITHUB_PATH
          echo "$HOME/android-sdk/platform-tools" >> $GITHUB_PATH
          echo "$HOME/android-sdk/emulator" >> $GITHUB_PATH

      # Accept licenses
      - name: Accept licenses
        run: yes | sdkmanager --licenses

      # Install required Android components
      - name: Install Android SDK packages
        run: |
          sdkmanager "platform-tools" "platforms;android-33" "build-tools;33.0.2" \
                     "ndk;21.4.7075529" "cmake;3.22.1"

      # Install Haxe + hxcpp
      - name: Install Haxe
        run: |
          sudo add-apt-repository ppa:haxe/releases -y
          sudo apt-get update
          sudo apt-get install -y haxe
          mkdir -p ~/.haxelib

          haxelib install hxcpp
          haxelib install heaps

      # Build your heaps android project
      - name: Build project
        run: |
          haxe build.hxml   # ganti dengan hxml milik repository itu
